$button-height: 1.5em;

.note {
  background: white;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 0.5em;
  transition: 1s;

  button, input, h2, p {
    font-size: 1em;
    padding: 0.4em;
    height: 2em;
    margin-bottom: 0.5em;
    border: 1px solid lightblue;
  }

  main {
    display: block;
    padding-bottom: 2em;
    p {
      width: 80%;
      float: left;
    }

    button {
      background: #ff7a7a;
      width: calc(20% - 0.5em);
      float: right;
    }
  }

  form {
    display: none;
    padding-bottom: 2em;

    button {
      width: calc(50% - 0.25em);
      float: left;
    }

    input[type="submit"] {
      width: calc(50% - 0.25em);
      float: right;
    }

  }
}

.note.editing {
  main {
    display: none;
  }

  form {
    display: block;
  }
}
