.navbar {
  height: 50px;
  margin-bottom: 0.5em;;

  h1, input {
    width: calc(50% - 0.25em);
    height: 100%;
    font-size: 1em;
    line-height: 35px;
    font-weight: bold;
    padding: 0.5em;
    vertical-align: center;
  }

  h1 {
    float: left;
    border: 1px solid lightblue;
    overflow: scroll;
  }
  
  input {
    float: right;
    border: 1px solid lightblue;
    background: beige;
  }
}
