* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: #222;
  list-style: none; }
  *:focus {
    border: none;
    outline: none; }

html {
  background: lightblue;
  padding: 0.5em; }

body {
  background: white;
  background-size: 100% 100%;
  padding: 0.5em; }

form {
  background: white; }
  form input {
    background: beige;
    padding: 0.5em;
    border: 1px solid lightblue;
    margin-bottom: 0.5em; }
    form input:focus {
      border: 1px solid beige; }

button, input[type="submit"] {
  background: #fffffe;
  border: 2px solid #ff7a7a !important;
  border-radius: 0.25em; }
  button:hover, input[type="submit"]:hover {
    background: #ff7a7a !important; }
  button:active, input[type="submit"]:active {
    background: #222 !important;
    border: 2px solid #222 !important;
    color: #ff7a7a; }

.error {
  background: #ff7a7a; }

@media screen and (min-width: 500px) {
  body {
    width: 500px;
    margin: 0 auto; } }
.navbar {
  height: 50px;
  margin-bottom: 0.5em; }
  .navbar h1, .navbar input {
    width: calc(50% - 0.25em);
    height: 100%;
    font-size: 1em;
    line-height: 35px;
    font-weight: bold;
    padding: 0.5em;
    vertical-align: center; }
  .navbar h1 {
    float: left;
    border: 1px solid lightblue;
    overflow: scroll; }
  .navbar input {
    float: right;
    border: 1px solid lightblue;
    background: beige; }
.note-create {
  margin-bottom: 1em; }
.note {
  background: white;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 0.5em;
  transition: 1s; }
  .note button, .note input, .note h2, .note p {
    font-size: 1em;
    padding: 0.4em;
    height: 2em;
    margin-bottom: 0.5em;
    border: 1px solid lightblue; }
  .note main {
    display: block;
    padding-bottom: 2em; }
    .note main p {
      width: 80%;
      float: left; }
    .note main button {
      background: #ff7a7a;
      width: calc(20% - 0.5em);
      float: right; }
  .note form {
    display: none;
    padding-bottom: 2em; }
    .note form button {
      width: calc(50% - 0.25em);
      float: left; }
    .note form input[type="submit"] {
      width: calc(50% - 0.25em);
      float: right; }

.note.editing main {
  display: none; }

.note.editing form {
  display: block; }
